.mask{
    -webkit-mask-image:url('./circleMask.svg');
    mask-image: url('./circleMask.svg');
    -webkit-mask-repeat:no-repeat;
    mask-repeat: no-repeat;
    /* -webkit-mask-position:50%;
    mask-position: 50%; */
    -webkit-mask-size:10px;
    mask-size: 10px;
    color: black;
}